<mat-sidenav-container class="mainWrapper blue_theme light-theme" autosize autoFocus dir="ltr">
  <mat-sidenav
    #leftsidenav
    [mode]="isOver ? 'over' : 'side'"
    [opened]="!isOver"
    (openedChange)="onSidenavOpenedChange($event)"
    (closedStart)="onSidenavClosedStart()"
    class="sidebarNav"
  >
    <div class="flex-layout">
      <ecom-admin-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver" />
      <div class="sidebar-scroll">
        <nav class="sidebar-list">
          @for (item of navItems; track item.displayName || item.navCap) {
            <ecom-admin-nav-item [item]="item" (notify)="onNavNotify()" />
          }
        </nav>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="contentWrapper">
    <ecom-admin-header [showToggle]="!isOver" (toggleMobileNav)="sidenav.toggle()" />
    <main class="pageWrapper maxWidth">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ecom-chat-widget />
